body {
    background-color: #FFF7AE;
}

links {
    color: #F786AA;
    text-decoration: none;
    transition: 0.2s;
}

links:hover {
    color: #FF8C42;
    transition: 0.2s;
}

.content-header {
    text-align: center;
    padding-top: 3rem;
}

.big-title {
    font-family: "Roboto", sans-serif;
}

.content-body {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1.5rem;
}

.m-paragraph {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.social-icons {
    display: flex;
    gap: 1.5rem;
}

.social-link {
    transition: .2s;
    padding: 5px;
    border-radius: 5px;
}

.social-link:hover {
    stroke: #FFF7AE;
}

.social-img:hover {
    stroke: #FFF7AE;
}

.languages-icons {
    display: flex;
    gap: 1.5rem;
}